<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                     {{!-- <th>TotalAmount</th>
                     <th>PaymentMethod</th>
                     <th>Status</th> --}}
                      

                </tr>
            </thead>
            <tbody>

                {{#each user}}
                <tr>
                    <td>{{this.Name}}</td>
                     <td>{{this.Email}}</td>
                     <td>{{this.totalAmount}}</td>
                     <td>{{this.paymentMethod}}</td>
                     {{!-- <td>{{this.deliveryDetails.adddress}}</td> --}}
                     <td>{{this.status}}</td>
                     <td>
                        <a href="#" class="btn btn-success">Verify</a>

                     </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
         <hr>
         {{!-- <h3 class="float-right mr-5 mt-4">Total: RS.<span id="total">{{totalValue}}</span></h3> --}}
         {{!-- <a href="#" class="float-right btn btn-success mt-5 mr-30">Continue Shopping</a> --}}
    </div>
</section>
