<section>
    <div class="container">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th>item</th>
                     {{!-- <th>Title</th> --}}
                     <th>Price</th>
                     <th>Description</th>

                      <th>Quantity</th>

                </tr>
            </thead>
            <tbody>

                {{#each product}}
                <tr>
                     
                    {{!-- <td><img style="width: 70px;height:70px" src="https://img.freepik.com/free-photo/bottom-view-chicken-nuggets-lettuce-cherry-tomatoes-cutting-board-dark-table-with-copy-space_140725-112077.jpg?size=626&ext=jpg"></td> --}}
                    <td>{{this.product.Name}}</tdviews/partials/cart.hbs>
                    <td>{{this.product.Price}}</td>
                    <td>{{this.product.Description}}</td>

                     
                    <td>
                        <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{product.id}}',-1);quan();">-</button> {{this.quantity}} <button class="cart-item-count mr-3" onclick="changeQuantity('{{this._id}}','{{product.id}}',1)">+</button>
                    </td>
                    <td>
                        <button class="cart-item-count mr-3" onclick="deleteCartProduct('{{this._id}}','{{product.id}}',)">Delete</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
         <hr>
         <h3 class="float-right mr-5 mt-4">Total: RS.<span id="total">{{totalValue}}</span></h3>
         <a href="/delivery" class=" btn btn-success mt-5 mr-1 float-right" style="width: 100%;" >Place Order</a>
    </div>
</section>
<script>
    function changeQuantity(cart_id,product_id,count) 
    {
       $.ajax({
            url:'changeQuantity',
            data:{
                cart:cart_id,
                product:product_id,
                count:count
            },
            method:'post',
            success:(response)=>{
                alert(response)
            }
        })
    }
    
function deleteCartProduct(cart_id,product_id){
        $.ajax({
            url:'deleteCartProduct',
            data:{
                cart:cart_id,
                product:product_id
            },
            method:'post',
            success:(response)=>{
                alert(response)
            }
        })
    }


</script>
